
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>Exercise 2: App Development</h1>
    <p>Developed by Seyed Reza Amerizadeh</p>
</div>

